<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - ADITYA LADGOTRA</title>
</head>
<body>
  <h1>Contact Us</h1>
  <p><strong>Last updated on:</strong> 24-04-2025 22:53:53</p>
  <p>You may contact us using the information below:</p>
  <p><strong>Merchant Legal Entity Name:</strong> ADITYA LADGOTRA</p>
  <p><strong>Registered Address:</strong> -, -, near Govt Middle School Badala, Jakhbar, Jammu and Kashmir, PIN: 184104</p>
  <p><strong>Operational Address:</strong> -, -, near Govt Middle School Badala, Jakhbar, Jammu and Kashmir, PIN: 184104</p>
  <p><strong>Telephone No:</strong> 6005874850</p>
  <p><strong>E-Mail ID:</strong> maradha.online@gmail.com</p>
</body>
</html>
